body {
    margin: 0;
    background-color: rgb(34, 1, 101);
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 32px;
    margin: 50px 32px;
    color: #fff;
}

.score-box {
    margin: 80px auto;
    background-color: black;
    height: 90px;
    width: 130px;
}

span {
    padding: 0 30px;
    color: rgb(251, 3, 3);
    font-size: 70px;
    font-weight: bolder;
}

.btn {
    background: transparent;
    margin: 5px;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: 0.2s linear;
}

.restart {
    margin: 80px 0;
    display: flex;
    justify-content: center;
}

#new-game {
    width: 300px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    border: 1px;
}

#new-game:hover {
    background-color: black;
    color: #fff;
}

/* Javascript */

.underline {
    text-decoration: underline;
}